<section>
  <p>Personal-info</p>
  <form [formGroup]="parentForm">
    <div>
      <mat-form-field>
        <input formControlName="firstName" type="text" matInput placeholder="Firstname" autocomplete="off" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="lastName" type="text" matInput placeholder="Lastname" autocomplete="off" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName="age" type="number" matInput placeholder="Age" autocomplete="off" />
      </mat-form-field>
    </div>
  </form>
</section>
